<section data-ng-controller="OrganisersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Organisers</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="organiser in organisers" data-ng-href="#!/organisers/{{organiser._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="organiser.created | date:'medium'"></span>
				by
				<span data-ng-bind="organiser.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="organiser.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!organisers.$resolved || organisers.length">
    	No Organisers yet, why don't you <a href="/#!/organisers/create">create one</a>?
    </div>
</section>