<section data-ng-controller="PlayersController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="player.surname + ', ' + player.forename"></h1>
		<p>Rating / Grading details</p>
            <ul ng-repeat="ratingType in player.ratings" class="list-inline">
                <li><span data-ng-bind="ratingType.ref.refType"></span>: <a ng-href="{{ ratingType.ref.refUrl }}" target="_blank"><span data-ng-bind="ratingType.ref.refID"></span></a>
                    <ul ng-repeat="rating in ratingType.ratings">
                        <li><span data-ng-bind="rating.rating"></span> - <span data-ng-bind="rating.gameRatingType"></span></li>
                    </ul>
                </li>
            </ul>
	</div>
	<div class="pull-right" data-ng-show="authentication.user">
		<a class="btn btn-primary" href="/#!/players/{{player._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
</section>
